<h1>Judge created!</h1>
<ul>
  <li>
    Submit form is <%= link_to "this link", new_judge_submit_path(@judge)%>.
  </li>
  <li>
    Result Page is <%= link_to "this link", judge_path(@judge)%>.
  </li>
</ul>